/* h1{
    color: green;
}
.color{
    color: red;
}
*{
    margin: 50px;
    padding: 20px;
}

.select{
    color:blue;
}

.box{
    width: 50px;
    height: 50px;
    background-color: red;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    display: block;
}
.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    display: block;

} */



.cardSpacer{
    margin: 20px;
    padding: 20px;
}

.rowSpacer{
    margin:15px;
}